<!DOCTYPE HTML>
<html xmlns:th=?http://www.thymeleaf.org?>
<head>
    <meta charset="ISO-8859-1">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="card">
    <div class="card-header bg-info">
        Feature Flag Manager
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Region</th>
                <th scope="col">Asia</th>
                <th scope="col">Korea</th>
                <th scope="col">Europe</th>
                <th scope="col">Japan</th>
                <th scope="col">America</th>
            </tr>
            </thead>
            <tbody th:each="featureFlag : ${featureFlags}">
            <tr>
                <td th:text="${featureFlag.getName()}"> </td>
                <td th:text="${featureFlag.isAsiaEnabled()}"> </td>
                <td th:text="${featureFlag.isKoreaEnabled()}"> </td>
                <td th:text="${featureFlag.isEuropeEnabled()}"> </td>
                <td th:text="${featureFlag.isJapanEnabled()}"> </td>
                <td th:text="${featureFlag.isAmericaEnabled()}"> </td>
            </tr>
            <tr>
                <form th:action="@{/featureFlags/save}" th:object="${FeatureFlag}" method="post">
                    <p>
                        <label>Regions:
                            <td></td>
                            <td><input type="checkbox" th:name="${featureFlag.getName()} + '_' + 'isAsiaEnabled'" value=1></td>
                            <td><input type="checkbox" th:name="${featureFlag.getName()} + '_' + 'isAsiaEnabled'" value=1></td>
                            <td><input type="checkbox" th:name="${featureFlag.getName()} + '_' + 'isAsiaEnabled'" value=1></td>
                            <td><input type="checkbox" th:name="${featureFlag.getName()} + '_' + 'isAsiaEnabled'" value=1></td>
                            <td><input type="checkbox" th:name="${featureFlag.getName()} + '_' + 'isAsiaEnabled'" value=1></td>
                        </label>
                    </p>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="#" class="btn btn-primary">Save</a>
</div>
</body>
<script>
    console.log("swag")
    jQuery.each( $("input[type='checkbox']"), function( i, val ) {
        if (val.value == 1) {
            val.checked = true
        }
    });
</script>
</html>

